<ion-tabs tabs-swipable class="tabs-icon-top tabs-color-active-positive">

      <ion-tab title="{{boards[0].title}}" icon-off="ion-android-contacts" icon-on="ion-android-contacts" href="/boards/grid/0">
        <ion-nav-view name="boards-grid-0"></ion-nav-view>
      </ion-tab>

      <ion-tab title="{{boards[1].title}}" icon-off="ion-android-restaurant" icon-on="ion-android-restaurant" href="/boards/grid/1">
        <ion-nav-view name="boards-grid-1"></ion-nav-view>
      </ion-tab>

      <ion-tab title="{{boards[2].title}}" icon-off="ion-android-car" icon-on="ion-android-car" href="/boards/grid/2">
        <ion-nav-view name="boards-grid-2"></ion-nav-view>
      </ion-tab>

      <ion-tab title="{{boards[3].title}}" icon-off="ion-social-tux" icon-on="ion-social-tux" href="/boards/grid/3">
      <ion-nav-view name="boards-grid-3"></ion-nav-view>
    </ion-tab>

      <ion-tab title="{{boards[4].title}}" icon-off="ion-android-home" icon-on="ion-android-home" href="/boards/grid/4">
      <ion-nav-view name="boards-grid-4"></ion-nav-view>
    </ion-tab>	
</ion-tabs>