<ion-view view-title="Johans First">
<ion-nav-buttons side="right">
  <button class="button button-icon icon ion-camera" ng-if="editMode" ng-click="newTile()"></button>
  <ion-toggle ng-model="editMode" toggle-class="toggle-calm">Edit</ion-toggle>
</ion-nav-buttons>
         <div class="row" ng-repeat="tile in tiles" ng-if="$index % 4 === 0">
            <div class="col col-33" ng-if="$index < tile.length">
                <img on-tap="onTap($index,custom.data.tab)" ng-src="data:image/jpeg;base64,{{images[$index].image}}" width="100%" />
            </div>
            <div class="col col-33" ng-if="$index + 1 < tile.length">
                <img on-tap="onTap($index,custom.data.tab)" ng-src="data:image/jpeg;base64,{{images[$index + 1].image}}" width="100%" />
            </div>
            <div class="col col-33" ng-if="$index + 2 < tile.length">
                <img on-tap="onTap(r$index,custom.data.tab)" ng-src="data:image/jpeg;base64,{{images[$index + 2].image}}" width="100%" />
            </div>
        </div>
</ion-view>
